.pic {
    width: 800px;
    overflow: hidden;
    position: relative;
}

.zoom {
    width: 100%;
    height: 100%;
    float: left;
}

.zoomin {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 203%;
    height: 203%;
}
